<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
<title>ANY CLOUD - Admin Login</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">
<h2>ANY CLOUD Admin</h2>

<form method="post">

<input name="username" placeholder="Admin Username">

<input type="password" name="password" placeholder="Password">

<button type="submit">Login</button>

</form>

<a href="/login">Back to User Login</a>

</div>

</body>
</html>